@import '../../_variables';

.icon-search {
    background: url('./ic_Search.png') no-repeat;
    height: 20px;
    width: 19px;
    display: inline-block;
}

.icon-logo {
    background: url('./Logo_ML.png') no-repeat;
    height: 37px;
    width: 57px;
    display: inline-block;
}
.icon-shipping {
    background: url('./ic_shipping.png ') no-repeat;
    height: 20px;
    width: 20px;
    display: inline-block;
}